@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --color-main-primary: #3fcf4e;
    --color-main-primary-100: #e9fde2;
    --color-main-secondary: #ffbe3d;
    --color-main-tertiary: #f64923;
    --color-text-dark-primary: #222325;
    --color-text-dark-secondary: #737373;
    --color-text-dark-disabled: #b4b2b8;
    --color-text-light-primary: #ffffff;
    --color-text-light-secondary: #c1c1c3;
    --color-text-light-disabled: #9c9da0;
    --color-warning-default: #fce91d;
}

  /* Temporary debug styles to ensure content is visible while troubleshooting */
  html, body, #root {
    height: 100%;
  }
  body {
    background-color: #f8fafc; /* light gray */
    color: var(--color-text-dark-primary);
  }
  #root {
    min-height: 100vh;
  }

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/lato-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/lato-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/lato-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./assets/fonts/lato-v25-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./assets/fonts/lato-v25-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./assets/fonts/lato-v25-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/lato-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/lato-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/lato-v25-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./assets/fonts/lato-v25-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./assets/fonts/lato-v25-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./assets/fonts/lato-v25-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/lato-v25-latin-900.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/lato-v25-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/lato-v25-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./assets/fonts/lato-v25-latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('./assets/fonts/lato-v25-latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('./assets/fonts/lato-v25-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

body{
    font-family: 'Lato', sans-serif;
}